body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Add styles for form and input elements */
form {
  width: 359px;
  margin: 0 auto;
  margin-top:100px;
  padding: 20px;
  border: 3px solid rgb(92, 255, 114);
  border-radius: 10px;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid rgb(0, 236, 12);
  border-radius: 10px;
}

input[type="text"]:hover{
  background-color: #8eff80;
}

input[type="password"]:hover{
  background-color: #8eff80;
}
input[type="submit"] {
  width: 100%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 18px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;

}

input[type="submit"]:hover {
  background-color: #8eff80;
}